/*
	Project: Functran - translate functions into other languages
	Author: Waldemar Axdorph
	E-mail: waldemar.axdorph@gmail.com
	Github: http://www.github.com/wally/functran
*/
html, body
{
	background-color: #f4f4f4;
	font: 100.01%/1.35 Helvetica, Arial, Verdana, sans-serif;
	text-align: center;
}

/* reset the text-align */
div
{
	text-align: left;
}

a
{
	text-decoration: none;
	border-bottom: 1px solid blue;
}
a:active
{
	text-decoration: none;
	border-bottom: 1px solid red;
}
a:visited
{
	text-decoration: none;
	border-bottom: 1px solid #572976;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Helvetica', Arial, Verdana, sans-serif
	margin-bottom: 4px;
	margin-top: 8px;
}

.clear{clear: both;}
.no-border, a.no-border:visited, a.no-border:active
{
	border: none;
}
.center
{
	margin: 0 auto;
}
.wrap
{
	height: inherit;
	margin: 0 auto;
}

#container
{
	width: 800px;
}

/* header */
#header
{
	border-bottom: 1px solid #676768;
	padding: 1em 0;
}
#header h1
{
	color: #333333;
	display: block;
	font: 3em/1 "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-weight: 700;
	float: left;
	letter-spacing: -1px;
	margin: 10px 50px 0 0;
	text-shadow: 2px 2px 5px #676768;
}
h1 a
{
	color: inherit;
	border: 0;
}
#header h1 a:visited
{
	border: none;
}

/* search form */
.search
{
	display: block;
	float: right;
	margin-top: 25px;
}
.search input[type="text"]
{
	height: 30px;
	font-family: Courier;
	font-size: 16px;
	width: 400px;
}

.search input[type="submit"]
{
	background: url(/images/button-translate.png) top left no-repeat;
	border: none;
	cursor: pointer;
	height: 28px;
	width: 85px;
	text-indent: -9999px;
}

.search input[type="submit"]:hover
{
	background-position: 0 -56px;
}
.search input[type="submit"]:active
{
	background-position: 0 -28px;
}

/* content */
.box
{
	background: #fff;
	border: 1px solid #aba;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 2em 0;
	padding: 20px 20px 1em 20px;
}
#content h2
{
	font-size: 20px;
	margin-top: 2em;
}

#content .footer
{
	color: #676768;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	margin-top: 5px;
	text-align: right;
}

.comments li
{
	margin: 1em 0 0 1em;
}

.comments .content
{
	background: #f1f1f1;
	border: 1px solid #676768;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: .8em;
	padding: .5em;
}

.comments .footer
{
	text-align: left;
}

.comments form
{
	color: #282828;
}

.comments form textarea
{
	float: left;
	height: 120px;
	width: 260px;
}
.comments form label
{
	font-family: Baskerville, Georgia, Garamond, Times, serif;
	font-size: 18px;
}

.comments form .label-left
{
	float: left;
}
.comments form ul
{
	border-left: 1px solid #3f3f3f;
	float: left;
	margin-left: 40px;
}
.comments form ul li
{
	margin: 0 34px 15px;
}

.comments li.comment-form
{
	border-top: 1px solid #676768;
}

#content .comments .comment-form h2
{
	background: url(/images/add-a-comment.png) no-repeat top left;
	height: 70px;
	margin: 0 7.3em;
	text-indent: -9999px;
	width: 416px;
}


pre
{
	border: 1px solid #999;
	font-size: 1.2em;
	line-height: 1.15em;
	padding: .5em;
}
/* code display */
.lines
{
	border: 0;
	border-right: 1px solid #555;
	float: left;
	font: inherit;
	margin-right: .5em;
	text-align: right;
	padding: 0 .5em 0 0;
	width: auto;
}
.lines a
{
	border: 0;
}
	

/* footer */
#footer
{
	border-top: 1px solid #676768;
	font-family: Baskerville, Georgia, Garamond, Times, serif;
}
#footer ul
{
	text-align: center;
	margin: 1em auto;
	width: 320px;
}
#footer ul li
{
	border-right: 1px solid #676768;
	display: inline;
	text-transform: lowercase;
	list-style: none;
	padding: 0 5px 0 6px;
}
#footer ul li.first
{
	padding-left: 0;
}
#footer ul li.last
{
	border: none;
	padding-right: 0;
}